*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:transparent;
    animation:fadein 1s;
    font-family:Cooper Std,sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.151),rgba(0, 0, 0, 0.233)), url("images/office.jpg");
    background-size:cover;
    background-repeat: no repeat;
    background-position:center;
    background-attachment: fixed;
}


@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:#006400;
    color: white;
    backdrop-filter:blur(8px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.menu-toggle {
    display: none;
    background: #04b8f5;
    color: #111;
    border: none;
    font-size: 35px;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {

.menu-toggle {
    display: block;
    margin-left: auto;
}

nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #111;
    padding: 20px;
}

nav.active {
    display: flex;
}

nav a {
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color:white;
    font-size:32px;
    font-weight:bold;
}

.logo img{
    width:100px;
    height:70px;
    border-radius:70%;
}

.logo span{
    color: white;
    font-size:24px;
    font-weight:bold;
}

nav{
    display: flex;
    gap: 25px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:30px;
    font-size:18px;
    transition:.3s;
    font-weight: bold;
}

nav a:hover{
    color:rgb(250, 250, 248);
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: bold;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.151),rgba(0, 0, 0, 0.233)), url("images/office.jpg");
    background-size:cover;
    background-repeat: no repeat;
    background-position:center;
    background-attachment: fixed;
    padding-top:150px;
    padding:120px 20px;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family:Cooper Std
}

.hero h1{
    font-size:50px;
    text-wrap-style: balance;
    color:rgb(244, 244, 248);
}

.hero p{
    margin:20px;
    font-size:22px;
    color: white;
}

.btn{
    transition: 3s;
    background:#008000;
    color:rgb(246, 247, 246);
    text-decoration:none;
    padding:15px 40px;
    border-radius:30px;
}

.btn:hover{
    transform:scale(1.1);
    background:#04e73d;
}

.services{
    padding:70px 20px;
    background:transparent;
}

.services h1{
    text-align:center;
    margin-bottom:40px;
    color: #fff;
}

.services h1{
    text-align:center;
    margin-bottom:40px;
    color: #fff;
}

.service-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:60px;
}

.card{
    width:280px;
    background: #fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:green;
    margin-bottom:15px;
}

.card p{
    color:#555;
}

why-us{
    padding:60px 20px;
    backdrop-filter:blur(8px);
    -webkit-backdrop-filter:blur(8px);
}

.why-us h2{
    text-align:center;
    margin-bottom:30px;
    color: #fff;
}

.why-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.why-card{
    margin:15px;
    background:#fff;
    width:280px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    text-align:center;
}

.why-card:hover{
    transform:translateY(-10px);
    transition:.3s;
}

.privacy{
    text-align:justify;
    padding:40px 10px;
    color:rgb(9, 24, 11);
    background:#eff3ef;
    font-family:Times New Roman;
    padding: 60px 80px;
    line-height: 1.8;

}

button{
    background:#008000;color:white;
    border-radius:non30e;
    padding:18px 35px;
    font-family: 'Courier New', Courier, monospace;
    font-size:15px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#006400;
}

.service-section{
    width:90%;
    max-width:1200px;
    margin: 60px auto;
}

.service-section h2{
    text-align:center;
    margin-bottom:30px;
}

.portfolio{
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:20px;
}

.portfolio-card{
    background:#e6ebe5;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: .3s;
    width: 150px;
}
.portfolio-card:hover{
   transform: translateY(-10px);
}

.portfolio-card img{
    width:100%;
    height:220px;
    object-fit: contain;
}

.portfolio-card h3{
    margin: 15px 0 10px;
}

.portfolio-card p{
    color: green;
    font-weight: bold;
    margin-bottom: 15px;
}

.contact{
    padding: 80px 25px;
    background: rgb(247, 248, 247);
}

.contact h2{
    margin-bottom: 40px;
    text-align: center;
    color: rgb(6, 202, 22);
}

.contact h3{
    text-align: center;
    color: white;
    font-size: 30px;
}

.contact-container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-form,
.contact-form{
    background: rgb(3, 248, 3);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
    width: 420px;
    justify-content: center;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding: 15px;
    margin:10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.contact-form button{
    width: 100%;
    padding: 15px;
    background: #0a8f3d;
    color: white;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.call-btn{
    display: inline-block;
    margin-top: 20px;
    background: #0a8f3d;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
}


.testimonials{
    padding: 70px 20px;
    background: #f5f5f5;
    text-align: center;
}

.testimonials h2{
    color: #07fc14;
}

.testimonial-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.testimonial{
    width:300px;
    background: #f4f5f4;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: .04s;;
}

.testimonial:hover{
    transform: translateY(-10px);
}

.testimonial img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    object-fit: cover;
}

.testimonial p{
    margin: 15px 0;
    line-height: 1.6;
}

.stats{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
    background: #eff3ef;
    color: green;
    flex-wrap: wrap;
}

.stat-box{
    text-align:center
}

.stat-box h2{
    font-size: 45px;
}

.stat-box p{
    font-size: 18px;
}

.about{
    text-align:justify;
    padding:40px 10px;
    color:rgb(0, 10, 0);
    background:white;
    font-family:Times New Roman;
    
}

.about h2{
    color:rgb(0, 5, 0);
    font-size: 25px;
}

.about h3{
    font-size: 20px;
}

.about p{
    font-size: 16px;
    text-align: justify;
}

.about{
    padding: 60px 80px;
    line-height: 1.8;
}

.about p{
    margin-bottom: 20px;
}

.about h2,
.about h3{
    margin-top: 30px;
    margin-bottom: 15px;
}

.about li{
    margin-bottom: 10px;
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #25D366;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.whatsapp:hover{
    transform:scale(1.1);
}

.dark{
    background: #121212;
    color: white;
}

.dark .card,
.dark .testimonial,
.dark .why-card{
    background: #1f1f1f;
    color: white;
}

.map-section{
    width:90%;
    max-width:1200px;
    margin:60px auto;
    text-align:center;
}

.map-section h2{
    font-size:2rem;
    color:#12ee3e;
    margin-bottom:20px;
}

.map-section iframe{
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.gallery{
    padding:70px 20px;
}

.gallery h2{
    text-align:center;
    margin-bottom:40px;
    color: white;

}

.gallery-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    transition:.4s;
}

.gallery img:hover{
    transform:scale(1.08);
}

.card,
.why-card,
.testimonial{
    opacity:0;
    transform:translateY(50px);
    animation:fadeUp 1s forwards;
}

@keyframes fadeUp{
from{
    opacity:0;
    transform:translateY(50px);
}

to{
    opacity:1;
    transform:translateY(0);
}
}

.contact{
    padding:80px 30px;
    background:#fffefe;
}

.contact h1{
    text-align:center;
    margin-bottom:40px;
}

.contact-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:40px;
}

.contact-info{
    flex:1;
    min-width:300px;
}

.contact-form{
    flex:1;
    min-width:300px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    margin:10px 0;
    border-radius:10px;
    border:1px solid #ccc;
}

.contact-form button{
    width:100%;
    padding:15px;
    background:#008000;
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

.buttons{
    margin-top:30px;
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.call-btn,
.whatsapp-btn,
.direction-btn{
    padding:15px 20px;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

.call-btn{
    background:#0d6efd;
}

.whatsapp-btn{
    background:#25D366;
}

.direction-btn{
    background:#ff9800;
}

.map{
    padding:60px 30px;
}

.map iframe{
    width:100%;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.2);
}

.floating-whatsapp{
    position:fixed;
    right:20px;
    bottom:20px;
    width:60px;
    height:60px;
    background:#25D366;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    font-size:30px;
    text-decoration:none;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
    z-index:999;
}

footer{
    background:green;
    color:rgb(245, 245, 239);
    text-align:center;
    padding:25px;
}

footer{
    background:#010c00;
    color:white;
    padding:50px 20px;

}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:30px;
}

.footer-container a{
    color:white;
    text-decoration:none;
}

.copyright{
    text-align:center;
    margin-top:30px;
}

@media(max-width:768px){

    header{
        flex-direction:column;
    }

    nav{
        margin-top:15px;
    }

    .hero h1{
        font-size:35px;
    }

    .service-container{
        flex-direction:column;
    }

    .contact-container{
        flex-direction:column;
    }
}

